<div style="height:500px;">
<div class="col-md-3">
    <select ng-model="sel" size="5" style="width:100%; height:100%;">
        <option disabled value="0" style="background-color: rgb(200,200,200);">FolderName</option>
        <option ng-repeat="list in tasklists" value="{{list.folderName}}" >{{list.folderName}}</option>
    </select>
</div>
<div class="col-md-9" style="height:100%; padding:0;" ng-if="sel!='0'">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h3 style="padding:0px 10px;">{{sel}}</h3>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/Tasks/General?id={{sel}}">Infos</a></li>
                    <li><a href="#/Tasks/Html?id={{sel}}">Html Version</a></li>
                    <li><a href="#/Tasks/Odt?id={{sel}}">Odt Version</a></li>
                    <li><a href="#/Tasks/PDF?id={{sel}}">PDF Version</a></li>
                    <li><a href="#/Tasks/Your?id={{sel}}">Your Review</a></li>
                    <li><a href="#/Tasks/All?id={{sel}}">All Reviews</a></li>
                    <li><a href="#/Tasks/Discussion?id={{sel}}" style="background-color: #ddd;">Discussion</a></li>
                    <li><a href="#/Tasks">&#10006;</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="border:1px solid; padding:10px; height:74%; margin:0; overflow-y: scroll;"  class="row">
        <div ng-repeat="x in data" ng-show="x['folderName']==sel"  class="row"  style="margin:0;">
            <div style="border-radius: 20px; border:1px solid; width:85%; margin:5px; padding:10px; height:25%; " class="row" ng-style="{'float':((x['flag']==true)?'right':'left')}">
                <div class="col-md-2" style="text-align: center;">
                    <span> {{x.author}} </span>
                    <br/>
                    <span> {{x.dateModified}} </span>
                    <button ng-click="changemess(x.ID,x.content)" ng-show="((x['flag1']==true)?true:false)" class="btn btn-info btn-xs" style="margin:10px;">Save</button>
                </div>
                <div class="col-md-10">
                    <textarea ng-readonly="((x['flag1']==true)?false:true)"  style="width:100%; height:100%;  border:0;" ng-model="x.content"></textarea>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0;">
            <div style="border-radius: 20px; border:1px solid; width:85%;  float:left; margin:5px; padding:10px; height:25%;">
                <div class="col-md-2" style="padding:0;" align="center">
                    <span> Your message: </span>
                    <br/>
                    <br/>
                    <button ng-click="messagesend()">Send</button>
                </div>
                <div class="col-md-10">
                    <textarea style="width:100%; padding:10px; height:100%;" ng-model="$parent.mess"></textarea>
                </div>
            </div>  
        </div>
    </div>
</div>