* {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  font-family: arial;
}

.touch {
  -ms-touch-action: none;
}

a {
   color: #4D87CE;
   font-weight: bold;
   text-decoration: none;
}

.selectable, input, textarea {
  -moz-user-select: text;
  -webkit-user-select: auto !important;
  -o-user-select: text;
  user-select: text;
  -khtml-user-select: text;
}

.borders, .borders td {
	border: solid black 1px;
}

.question h1 {
   display: none;
}

body {
   width: 770px;
}

#success {
   font-weight: bold;
   color: blue;
}

#error {
   font-weight: bold;
   color: red;
}

button, input[type=button] {
   font-size: 16px;
}